<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BookOrganiser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
      
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
    <system.net>
      <settings>
        <httpWebRequest useUnsafeHeaderParsing="true" />
      </settings>
    </system.net>
  </runtime>
  <userSettings>
    <BookOrganiser.Properties.Settings>
      <setting name="mainWindowWidth" serializeAs="String">
        <value>800</value>
      </setting>
      <setting name="mainWindowHeight" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="rowHeight" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="columnWidth0" serializeAs="String">
        <value>40</value>
      </setting>
      <setting name="columnWidth1" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="columnWidth2" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="columnWidth3" serializeAs="String">
        <value>150</value>
      </setting>
      <setting name="columnWidth4" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="columnWidth5" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="columnWidth6" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="columnWidth7" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="columnWidth8" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="columnWidth9" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="columnWidth10" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="columnWidth11" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="columnWidth12" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="columnWidth13" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="columnWidth14" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="columnWidth15" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="columnWidth16" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="columnWidth17" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="columnWidth18" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="columnWidth19" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="addChangeBookWindowWidth" serializeAs="String">
        <value>800</value>
      </setting>
      <setting name="addChangeBookWindowHeight" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="mainWindowIsFullScreen" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="dataBaseName" serializeAs="String">
        <value>Books</value>
      </setting>
      <setting name="dataBasePassword" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="dataBaseHost" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="dataBasePort" serializeAs="String">
        <value>5432</value>
      </setting>
      <setting name="tableName" serializeAs="String">
        <value>books</value>
      </setting>
      <setting name="dataBaseUser" serializeAs="String">
        <value>postgres</value>
      </setting>
      <setting name="addChangeBookColumnWidth" serializeAs="String">
        <value>180</value>
      </setting>
      <setting name="isFirstLaunch" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="orderByColumnIndex" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="sortByColumnIndex" serializeAs="String">
        <value>2</value>
      </setting>
    </BookOrganiser.Properties.Settings>
  </userSettings>
</configuration>
